/* Estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuente base */
body {
    font-family: Calibri, Verdana, Geneva, Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #000;
	margin-left: 0.5rem;
}

h2 {
    font-size: 2rem; 
    margin: 1rem 0; 
    text-align: left;
}



/* Contenedor principal de la galería */
.gallery {
    position: relative; 
    width: 500px; 
    margin: 2rem 0; 
    background-color: #00B3FF;
    padding: 0.4rem;
    border: 3px solid #43BAE7;
}



/* Cada bloque (dl) por defecto en bloque */
.gallery dl {
    margin: 0;
}

/* Imagen principal con borde púrpura */
.gallery img {
    max-width: 100%;
    height: auto;
    border: 1px solid black;
    display: block;
    margin: 0 auto;
}

/* Descripción debajo de la imagen */
.gallery dd {
    margin: 0.4rem 0 0 0;
    padding: 0.4rem 0.6rem 0.4rem 0.4rem;
    text-align: left;
    font-size: 1.05rem;
    background-color: #03FEFF; 
	line-height: 1;
    color: #000;
    width: 100%;
    box-sizing: border-box;
}

/* Contenedor de tabs */
.tab-container {
    position: absolute;
    top: -1.3rem;
	left: -0.19rem;
    z-index: 10;
    display: flex;
    gap: 10px;
}



/* Cada tab es un botón cuadrado */
.tab {
    display: inline-block;
    width: 29px;
    height: 18px;
    text-align: center;
    background-color: #7165EB;
    color: #fff;
    font-size: 0.8rem;
    cursor: pointer;
    border: none;
	margin: 0; 
    transition: background-color 0.2s ease;
}

/* Tab activo */
.tab.active {
    background-color: #00B4FE;
}

/* Hover tab */
.tab:hover {
    background-color: #9335D1;
}

